@model PaginatedList<GymTest.Models.Assistance>

@{
    ViewData["Title"] = "Index";
}

<h2>Asistencias</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Ingresar Asistencia</a>
</p>

<form asp-controller="Assistances" asp-action="Index">
    <p>
        Filtro inteligente: <input type="text" name="SearchString">
        Fecha: <input name="DateFilter" class="datepicker" type="text" placeholder="dd/mm/aaaa">
        <input type="submit" value="Filtrar" class="btn btn-default" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParm"]" style="color:white">@Html.DisplayNameFor(model => model.First().AssistanceDate)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]" style="color:white">@Html.DisplayNameFor(model => model.First().User.FullName)</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AssistanceDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.FullName)
                </td>
                <td>
                    @*<a asp-action="Edit" asp-route-id="@item.AssistanceId">Edit</a> |*@
                    <a asp-action="Details" asp-route-id="@item.AssistanceId" class="btn btn-primary">Detalles</a>
                    <a asp-action="Delete" asp-route-id="@item.AssistanceId" class="btn btn-danger">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   class="btn btn-default @prevDisabled">
    Anterior
</a>
<a asp-action="Index"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   class="btn btn-default @nextDisabled">
    Siguiente
</a>
