@model PagedList.IPagedList<GymTest.Models.Assistance>
@using PagedList.Mvc;

@{
    ViewData["Title"] = "Index";
}

<h2>Asistencias</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Ingresar Asistencia</a>
</p>

<form asp-controller="Assistances" asp-action="Index">
    <p>
        Filtro inteligente: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]">
        Fecha: <input name="DateFilter" class="datepicker" type="text" placeholder="dd/mm/aaaa" value="@ViewData["DateFilter"]">
        <input type="submit" value="Filtrar" class="btn btn-default" /> |
        <a asp-action="Index" class="btn btn-default">Limpiar lista</a>
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]" asp-route-dateFilter="@ViewData["DateFilter"]" style="color: white">Fecha asistencia</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]" asp-route-dateFilter="@ViewData["DateFilter"]" style="color: white">Nombre de usuario</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AssistanceDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.FullName)
                </td>
                <td>
                    @*<a asp-action="Edit" asp-route-id="@item.AssistanceId">Edit</a> |*@
                    <a asp-action="Delete" asp-route-id="@item.AssistanceId" class="btn btn-danger">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div id="container" style="width:100%">
    <div id="left" style="float:left;width:20%;"><a asp-action="Index" asp-route-page=@(Model.PageNumber > 1 ? Model.PageNumber - 1 : 1) style="color:black"> < Anterior</a></div>
    <div id="right" style="float:right;width:20%;text-align:right"><a asp-action="Index" asp-route-page=@(Model.PageNumber < Model.PageCount ? Model.PageNumber + 1 : Model.PageNumber) style="color:black">Siguiente > </a></div>
    <div id="center" style="margin:0 auto;width:60%;"><p style="text-align:center"> - Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount - </p></div>
</div>
