@model IEnumerable<GymTest.Models.Schedule>

@{
    ViewData["Title"] = "Index";
}

<h2>Reservas</h2>

<p>
    <a asp-controller="Schedule" asp-action="Create" class="btn btn-primary">Nueva Reserva</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Field)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ScheduleDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HourQuantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClientName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClientPhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.isPayed)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Field.FieldDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ScheduleDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HourQuantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClientName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClientPhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.isPayed)
            </td>
            <td>
                <div class="btn-group">
                    <a asp-action="Edit" asp-route-id="@item.ScheduleId" class="btn btn-primary">Modificar</a>
                    @if (!item.isPayed)
                    {
                        <a asp-action="Pay" asp-route-id="@item.ScheduleId" class="btn btn-primary">Pago</a>
                    }
                    <a asp-action="Delete" asp-route-id="@item.ScheduleId" class="btn btn-danger">Eliminar</a>
                </div>
            </td>
        </tr>
}
    </tbody>
</table>
