@model IEnumerable<GymTest.Models.Notification>

@{
    ViewData["Title"] = "Notificaciones";
}

<h2>Administrador de Notificaciones</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Enviar Notificación</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Everyone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Send)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.To)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Message)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Everyone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Send)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.To)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Message)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.NotificationId" class="btn btn-primary">Enviar</a>
                <a asp-action="Details" asp-route-id="@item.NotificationId" class="btn btn-primary">Detalles</a>
                <a asp-action="Delete" asp-route-id="@item.NotificationId" class="btn btn-danger">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
