@model GymTest.Models.Payment

@{
    ViewData["Title"] = "Details";
}
<br />
<h2>Detalles de Pago</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PaymentDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PaymentDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MovmentType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MovmentType.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.QuantityMovmentType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.QuantityMovmentType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.DocumentNumber)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PaymentId" class="btn btn-default">Editar Pago</a> |
    <a asp-action="Index" class="btn btn-default">Volver</a>
</div>
