@model IEnumerable<GymTest.Models.Payment>

@{
    ViewData["Title"] = "Index";
}
<br />
<h2>Administrador de Pago</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Crear Pago</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PaymentDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MovmentType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuantityMovmentType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MovmentType.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuantityMovmentType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.DocumentNumber)
            </td>
            <td>
                <div class="btn-group">
                    <a asp-action="Edit" asp-route-id="@item.PaymentId" class="btn btn-primary">Modificar</a>
                    <a asp-action="Details" asp-route-id="@item.PaymentId" class="btn btn-primary">Detalles</a>
                    <a asp-action="Delete" asp-route-id="@item.PaymentId" class="btn btn-danger">Eliminar</a>
                </div>
            </td>
        </tr>
}
    </tbody>
</table>
