@model IEnumerable<GymTest.Models.Payment>

@{
    ViewData["Title"] = "Index";
}
<br />
<h2>Administrador de Pago</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Crear Pago</a>
</p>

<form asp-controller="Payments" asp-action="Index">
    <p>
        Filtro inteligente: <input type="text" name="SearchString">
        Fecha desde: <input name="FromDate" class="datepicker" type="text" placeholder="dd/mm/aaaa">
        Fecha hasta: <input name="ToDate" class="datepicker" type="text" placeholder="dd/mm/aaaa">
        <input type="submit" value="Filtrar" class="btn btn-default" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["PaymentSortParm"]" style="color:white">@Html.DisplayNameFor(model => model.PaymentDate)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["MovTypeSortParm"]" style="color:white">@Html.DisplayNameFor(model => model.MovmentType)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["QuanMovTypeSortParm"]" style="color:white">@Html.DisplayNameFor(model => model.QuantityMovmentType)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["AmountSortParm"]" style="color:white">@Html.DisplayNameFor(model => model.Amount)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["PayMediaSortParm"]" style="color:white">@Html.DisplayNameFor(model => model.PaymentMedia)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]" style="color:white">@Html.DisplayNameFor(model => model.User.FullName)</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PaymentDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MovmentType.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.QuantityMovmentType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PaymentMedia.PaymentMediaDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.FullName)
                </td>
                <td>
                    <div class="btn-group">
                        <a asp-action="Edit" asp-route-id="@item.PaymentId" class="btn btn-primary">Modificar</a>
                        <a asp-action="Details" asp-route-id="@item.PaymentId" class="btn btn-primary">Detalles</a>
                        <a asp-action="Delete" asp-route-id="@item.PaymentId" class="btn btn-danger">Eliminar</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
