@model GymTest.Models.CashMovement

@{
    ViewData["Title"] = "Delete";
}

<h2>Eliminar</h2>

<h3>Está seguro que desea eliminar este movimiento de caja?</h3>
<div>
    <h4>Movimiento de caja</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CashMovementDetails)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CashMovementDetails)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CashMovementType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CashMovementType.CashMovementTypeDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PaymentMedia)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PaymentMedia.PaymentMediaDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CashCategory)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CashCategory.CashCategoryDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CashSubcategory)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CashSubcategory.CashSubcategoryDescription)
        </dd>
        <dd>
            @Html.DisplayFor(model => model.Supplier.SupplierDescription)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="CashMovementId" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-default">Regresar</a>
    </form>
</div>
