@model PagedList.IPagedList<GymTest.Models.CashMovement>

@{
    ViewData["Title"] = "Index";
}

<h2>Movimientos de caja</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Crear movimiento de caja</a>
</p>

<p>
    Cierre de Caja Diario:
    <input name="DailyCloseCashMovement" type="text" style="border: 0" value="@ViewBag.DailyAmount">
</p>
<p>
    Cierre de Caja Mensual:
    <input name="MonthlyCloseCashMovement" type="text" style="border: 0" value="@ViewBag.MonthlyAmount">
</p>

<form asp-controller="CashMovement" asp-action="ExportToExcel">
    <p>
        Fecha desde: <input name="FromDate" class="datepicker" type="text" placeholder="dd/mm/aaaa">
        Fecha hasta: <input name="ToDate" class="datepicker" type="text" placeholder="dd/mm/aaaa">
        <input type="submit" value="Exportar a Excel" class="btn btn-primary" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["CashMovSortParm"]" style="color:white">@Html.DisplayNameFor(model => model.FirstOrDefault().CashMovementDetails)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["AmountSortParm"]" style="color:white">@Html.DisplayNameFor(model => model.FirstOrDefault().Amount)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["CashMovDateSortParm"]" style="color:white">@Html.DisplayNameFor(model => model.FirstOrDefault().CashMovementDate)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["CashMovTypeSortParm"]" style="color:white">@Html.DisplayNameFor(model => model.FirstOrDefault().CashMovementType)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["PayMediaSortParm"]" style="color:white">@Html.DisplayNameFor(model => model.FirstOrDefault().PaymentMedia)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["CashCatSortParm"]" style="color:white">@Html.DisplayNameFor(model => model.FirstOrDefault().CashCategory)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["CashSubCatSortParm"]" style="color:white">@Html.DisplayNameFor(model => model.FirstOrDefault().CashSubcategory)</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CashMovementDetails)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CashMovementDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CashMovementType.CashMovementTypeDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PaymentMedia.PaymentMediaDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CashCategory.CashCategoryDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CashSubcategory.CashSubcategoryDescription)
                </td>
                <td>
                    @if (item.PaymentId == null)
                    {
                        <div class="btn-group">
                            <a asp-action="Edit" asp-route-id="@item.CashMovementId" class="btn btn-primary">Modificar</a>
                            <a asp-action="Details" asp-route-id="@item.CashMovementId" class="btn btn-primary">Detalle</a>
                            <a asp-action="Delete" asp-route-id="@item.CashMovementId" class="btn btn-danger">Eliminar</a>
                        </div>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
<div id="container" style="width:100%">
    <div id="left" style="float:left;width:20%;"><a asp-action="Index" asp-route-page=@(Model.PageNumber > 1 ? Model.PageNumber - 1 : 1) style="color:black"> < Anterior</a></div>
    <div id="right" style="float:right;width:20%;text-align:right"><a asp-action="Index" asp-route-page=@(Model.PageNumber < Model.PageCount ? Model.PageNumber + 1 : Model.PageNumber) style="color:black">Siguiente > </a></div>
    <div id="center" style="margin:0 auto;width:60%;"><p style="text-align:center"> - Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount - </p></div>
</div>