@model IEnumerable<GymTest.Models.CashMovement>

@{
    ViewData["Title"] = "Index";
}

<h2>Movimientos de caja</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Crear movimiento de caja</a>
    <a asp-action="ExportToExcel" class="btn btn-primary">Exportar a Excel</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CashMovementDetails)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CashMovementType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CashCategory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CashSubcategory)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CashMovementDetails)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CashMovementType.CashMovementTypeDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CashCategory.CashCategoryDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CashSubcategory.CashSubcategoryDescription)
                </td>
                <td>
                    <div class="btn-group">
                        <a asp-action="Edit" asp-route-id="@item.CashMovementId" class="btn btn-primary">Modificar</a>
                        <a asp-action="Details" asp-route-id="@item.CashMovementId" class="btn btn-primary">Detalle</a>
                        <a asp-action="Delete" asp-route-id="@item.CashMovementId" class="btn btn-danger">Eliminar</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
