@model GymTest.Models.User

@{
    ViewData["Title"] = "Delete";
}

<br />
<h2>Borrar Usuario</h2>

<h3>¿Está seguro que quiere Eliminar al usuario?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BirthDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DocumentNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DocumentNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Phones)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Phones)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SignInDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SignInDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Commentaries)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Commentaries)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="UserId" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-default">Volver</a>
    </form>
</div>
