@model GymTest.Models.User
@{
    ViewData["Title"] = "Details";
}
<br />
<h2>Detalles Usuario</h2>
<div>
    <h4>Usuario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Token)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Token)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FullName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FullName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BirthDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DocumentNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DocumentNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Phones)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Phones)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SignInDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SignInDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Commentaries)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Commentaries)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.UserId" class="btn btn-default">Editar Usuario</a> |
    <a asp-controller="Payments" asp-action="Create" asp-route-id="@Model.UserId" class="btn btn-default">Agregar Pago</a> |
    <a asp-controller="Assistances" asp-action="Index" asp-route-id="@Model.UserId" class="btn btn-default">Ver Asistencias</a> |
    <a asp-action="Index" class="btn btn-default">Volver</a>
</div>
