@model PagedList.IPagedList<GymTest.Models.User>
@using PagedList.Mvc;

@{
    ViewData["Title"] = "Index";
}

<br />
<h2>Administración de Usuarios</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Nuevo Usuario</a>
</p>

<form asp-controller="Users" asp-action="Index">
    <p>
        Filtro inteligente: <input type="text" name="SearchString">
        <input type="submit" value="Filtrar" class="btn btn-default" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]" style="color:white">@Html.DisplayNameFor(model => model.FirstOrDefault().FullName)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["DocSortParm"]" style="color:white">@Html.DisplayNameFor(model => model.FirstOrDefault().DocumentNumber)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["EmailSortParm"]" style="color:white">@Html.DisplayNameFor(model => model.FirstOrDefault().Email)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["AddressSortParm"]" style="color:white">@Html.DisplayNameFor(model => model.FirstOrDefault().Address)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["PhoneSortParm"]" style="color:white">@Html.DisplayNameFor(model => model.FirstOrDefault().Phones)</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DocumentNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phones)
                </td>
                <td>
                    <div class="btn-group">
                        <a asp-action="Edit" asp-route-id="@item.UserId" class="btn btn-primary">Modificar</a>
                        <a asp-action="Details" asp-route-id="@item.UserId" class="btn btn-primary">Detalles</a>
                        <a asp-action="Delete" asp-route-id="@item.UserId" class="btn btn-danger">Eliminar</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
<div id="container" style="width:100%">
  <div id="left" style="float:left;width:20%;"><a asp-action="Index" asp-route-page=@(Model.PageNumber > 1 ? Model.PageNumber - 1 : 1) style="color:black"> < Anterior</a></div>
    <div id="right" style="float:right;width:20%;text-align:right"><a asp-action="Index" asp-route-page=@(Model.PageNumber < Model.PageCount ? Model.PageNumber + 1 : Model.PageNumber) style="color:black">Siguiente > </a></div>
  <div id="center" style="margin:0 auto;width:60%;"><p style="text-align:center"> - Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount - </p></div>
</div>