@model GymTest.Models.AutomaticProcess

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>AutomaticProcess</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AutomaticProcessDesctipion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AutomaticProcessDesctipion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NextProcessDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NextProcessDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastProcessDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastProcessDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.AutomaticProcessId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
