@model IEnumerable<GymTest.Models.AutomaticProcess>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AutomaticProcessDesctipion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NextProcessDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastProcessDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AutomaticProcessDesctipion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NextProcessDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastProcessDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AutomaticProcessId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AutomaticProcessId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AutomaticProcessId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
