@model IEnumerable<GymTest.Models.Workday>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Crear nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Resource)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WorkingDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuantityOne)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuantityTwo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Resource.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WorkingDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.QuantityOne)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.QuantityTwo)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.WorkdayId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.WorkdayId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.WorkdayId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
